@model PagedList.IPagedList<ProviderSupport.Models.Provider>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Providers";
}
<h2>Providers</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Provider", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ProviderID)*@
            ID
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FirstName) *@
            First Name
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
             @*@Html.DisplayNameFor(model => model.PhoneNum)*@
            PhoneNum
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            email
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BirthDate)*@
            Birthday
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PayRate)*@
            Pay Rate
        </th>
        <th>
            @Html.ActionLink("CPR Exp. Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Archived)*@
            Archived
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CprExpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Archived)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProviderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProviderID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProviderID })
        </td>
    </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
